{%extends 'base.html'%}
{%block title%}
    корзина
{%endblock%}
{%block content%}
					<div class="span9">					
						<h4 class="title"><span class="text"><strong>Your</strong> Cart</span></h4>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Фота</th>
									<th>название товар</th>
									<th>количество</th>
									<th>цена на товара</th>
									<th>общая цена</th>
									<th>Удалить</th>
								</tr>

							</thead>
							{% for item in cart %}
								{% with product=item.product %}
								<tr>
									<td><a href="{{product.get_absolute_url}}"><img alt="" src="{{product.image.url}}"></a></td>
									<td>{{product.name}}</td>
									<td>
										<form action="{% url 'cart_add' product.id %}" method="post">
										{{ item.update_quantity_form.quantity }}
										{{ item.update_quantity_form.update }}
										<input type="submit" value="update" >
										{% csrf_token %}
										</form>
									</td>
									<td>${{item.price}}</td>
									<td>${{item.total_price}}</td>
									<td> <a href="{% url 'cart_remove' product.id%}">Удалить</a></td>
								</tr>
								{% endwith %}
							{%endfor%}
							</tbody>
						</table>
						<hr>
						<p class="cart-total right">
							<strong>Обшая сумма</strong>:${{cart.get_total_price}}<br>
						</p>
						<hr/>
						<p class="buttons center">				
							<button class="btn" type="button">Update</button>
							<button class="btn" type="button"><a href="{%url 'product-list'%}">Продалжить покупку</a></button>
							<button class="btn btn-inverse" type="submit" id="checkout">Checkout</button>
						</p>					
					</div>


{%endblock%}